<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.lrivas.miagenda_ws">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/agenda_one"
        android:label="@string/AppBarLabel"
        android:roundIcon="@mipmap/agenda_one_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Miagenda_ws">
        <activity
            android:name=".ModificarContacto"
            android:exported="false" />
        <activity
            android:name=".RegistrarContacto"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>